<!DOCTYPE html>
<html ng-app="flickrSearcher">
<head>
	<title>Flickr Search</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script src="scripts.js"></script>
</head>
<body>
	<div class="view">
		<section class="titleSection">
			<h1 class="title">Flickr Searcher</h1>
		</section>
		<div class="formSection" ng-controller="MyController">
			<form class="searchForm" ng-submit="searchFlickr(keyword)">
				<input class="textInput" type="text" name="keyword" ng-model="keyword" required/>
				<input class="inputButton" type="submit" value="Submit" id="submit" />
			</form>
			<div class="results">
				<h2 ng-if="submitted">Searching Flickr for photos with keyword "{{ keyword }}".</h2>
				<h2>We found {{ results.length }} results for "{{ keyword }}"</h2>
				<div ng-repeat="photo in photos">
					<iframe ng-src="{{ trustSrc(embedUrl + response.data.photos.photo) }}" frameborder="0" width="200" height="180"></iframe>
				</div>
			</div>
		</div>
	</body>
	</html>